.account-container {
  background-color: rgb(0, 0, 0, 0.43);
  backdrop-filter: blur(2px);
  min-height: 100px;
  padding: 20px;
  color: white;
}

.bg-tommy {
  background-image: url("../../assets/tommy_full.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 50%;
}
